.chat-filter {
    height: 7%;
    border-bottom: 1px solid #f0f2f5;

    .input-container {
        background-color: $main-bg-color;
        margin-left: 3%;
        border-radius: 5px;
        height: 70%;
        width: 85%;

        .search-icon {
            margin-left: 15px;
            font-size: 22px;
            color: $main-icons-color;
        }

        .close-icon {
            margin-right: 15px;
            color: $main-icons-color;
            font-size: 25px;
            opacity: 0.6;
        }

        textarea:focus,
        input:focus {
            outline: none;
        }

        input {
            margin-left: 40px;
            border: none;
            line-height: 30px;
            width: 80%;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            // letter-spacing: 0.5px;
            background-color: inherit;
        }
    }

    .filter-icon-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;

        .icon-circle {
            padding: 4px;
            border-radius: 50%;
            color:#54656fb5 ;

            .filter-icon {
                font-size: 25px;
                color: inherit;
            }

            &.true {
                background-color: $main-notification-clr;
                color: white;
            }

        }
    }

}