
.chat-option{
    padding: 10px 0;
    min-width: 260px;
    background-color: white;
    position: absolute;
    right: -29px;
    top: 78px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(11, 20, 26, 0.26), 0 2px 10px 0 rgba(11, 20, 26, 0.16);

    .option{
        min-height: 40px;
        padding-left: 10px;
        &:hover{
            background-color: $main-bg-color;
        }
    }
}