.chat-details {
  background-color: $chat-bg-clr ;
  flex-grow: 1;

  .chat-header {
    background-color: $main-bg-color;
    height: 77px;
    min-height: 77px;

    .user-avatar {
      margin-left: 15px;
    }

    .parti-container {
      margin-left: 15px;
      font-size: 25px;
      flex-grow: 1;
    }

    .header-actions {
      color: $main-icons-color;
      &>*{
        margin-right: 30px;
      }

      .search-icon{
        font-size: 30px;
      }

      .option-con{
        border-radius: 50%;
        padding: 7px;

        &.true{
          background-color: $dark-bg-color;
        }
      }
      .option-icon{
        font-size: 30px;
      }
    }
  }

  .message-list {
    flex-grow: 1;
    overflow-x: scroll;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $main-bg-color;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c5c9ca;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a3acae;
  }
}