

.msg-preview{
    background-color: white;
    border-radius: 10px;
    margin: 20px 10px;
    // width: max-content;
    max-width: 70%;
    padding: 10px 10px 5px 10px;

    
    &.self{
        align-self: flex-end;
        background-color: $self-msg-bg-clr;
    }

    .msg-txt{

    }

    .msg-time{
        align-self: end;
        font-size: 14px;
        margin-top: 5px;
        font-weight: 600;
        opacity: 0.8;
    }
}