

.user-avatar{
    // border: 1px solid red;
    // height: 50px;
    // width: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;

    // img{
    //     border-radius: inherit;
    //     // width: 100%;
    // }

}