.user-profile {
    // border: 2px solid red;
    // width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $main-bg-color;

    header {
        background-color: $main-border-dark-clr;
        height: 160px;
        padding-bottom: 20px;
        padding-left: 30px;

        .arrow-icon {
            font-size: 30px;
            color: white;
            margin-bottom: 4px;
        }

        .head {
            margin-left: 30px;
            color: white;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }

    .main-user-section {
        height: 100%;

        .user-avatar {
            margin-top: 50px;
            border: 1px solid $main-border-dark-clr;
        }

        .img-input {
            display: none;
        }
    }

    .name-container {
        padding-left: 30px;
        margin-top: 50px;
        width: 100%;
        color: $main-border-dark-clr;
        background-color: white;
        box-shadow: 0px 0px 8px 5px rgba(0, 73, 57, 0.068);

        &>* {
            height: 50px;
        }

        input,
        &:focus {
            border: none;
            outline: none;
            font-size: 20px;
            color: $main-icons-color;
        }
    }

    .user-avatar:hover {
        opacity: 0.5;
    }

    .note {
        margin: 20px 30px;
        color: #667781;
    }
}