.chat-index {

    background-color:#eae6df ;
    height: 100vh;
    width: 100%;
    position: relative;

    .green-background{
        height: 160px;
        width: 100%;
        background-color: #00a884;
    }

    main{
        background-color: $main-bg-color;
        width: 97%;
        height: 95%;
        position: absolute;
        margin: auto;
        top: 2.5%;
        left: 1.5%;
    }
}



