// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$main-bg-color: #f0f2f5;
$main-icons-color: #54656f;
$main-notification-clr: #25d366;
$main-border-clr: #00a884;
$main-border-dark-clr: rgb(0, 128, 105);
$chat-bg-clr: #eae6df;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;